.home {
  &.progress {
    background-color: hsl(100, 0, 98);
    
    .subject {
      padding-top: 4vw;
    }

    .graphTitle {
      margin: 25px 0;
      font-weight: 600;
    }
  }

  .content {
    padding: 20px;
    background-color: hsla(270, 80, 80, 60%);
    width: 20vw;
    height: 60vh;
    overflow: auto;
    position: absolute;
    top: 20vh;
  
    .title {
      font-weight: 600;
      font-size: 20px;
      color: hsl(200, 80, 15);
      display: inline-block;
      margin: 15px 15px 20px 0;
      text-decoration: underline;
    }

    li {
      min-width: 200px;
      margin-bottom: 15px;
    }
    
    .liPart {
      color: hsl(200, 80, 15);
      margin-bottom: 15px;
    }

    .liChapter {
      margin-left: 10px;

      &:first-child {
        margin-top: 15px;
      }
    }
  }

  .subject {
    width: 65vw;
    margin-left: 20vw;
    padding: 8vw 13vw 100px 8vw;

    .chapterName {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    article {
      p {
        text-align: justify;
        margin-bottom: 15px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
      
        &:last-child {
          margin-bottom: 80px;
        }
      }
    }

    .link {
      padding: 0 70px;
      display: inline-block;
      height: 30px;
      line-height: 1.8;
      margin-left: auto;
      margin-right: 0;
      background-color: blueviolet;
      text-decoration: none;
    }
  }
}

