.loginMain {

  .box {
    position: relative;
    height: 500px;

    .heroTitle {
      h1 {
        color: white;
        background-color: rgb(178, 22, 22);
      }
    }

    .hero {
      z-index: -10;
      position: absolute;
      height: 100%;
      object-fit: cover;
      overflow-y: hidden;
    }

    .loginBox {
      width: 70%;
      text-align: center;
      padding: 30px 0;
      background-color: hsla(0, 90, 65, 0.7%);
      

      .title {
        margin-bottom: 15px;
      }

      input {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        background-color: antiquewhite;
        font-size: 18px;
      }

      .errMessage {
        display: inline-block;
        color: white;
        background-color: red;
        width: auto;
        padding: 3px 20px;
        margin: 0 auto;
        margin-bottom: 15px;
      }

      .loginBtn {
        margin-bottom: 15px;
      }

      .link {
        color: black;
      }
    }
  }
}