doctype html
html(lang="en")
  head
    title='History of Kazakhstan'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta('http-equiv'='X-UA-Compatible' content='IE=edge')
    meta(charset='UTF-8')
    link(href=assetPath('main.css') rel="stylesheet")
  body
    #root
    script(src=assetPath('main.js'))
    